# dependencies
**/node_modules/

# env / secrets
**/.env
**/.env.*
!**/.env.example

# logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Android / Gradle
**/build/
**/.gradle/
**/local.properties
*.apk
*.aab
*.keystore
*.jks
**/keystore.properties

# firebase
**/google-services.json
**/*firebase-adminsdk*.json
